
.feedback-form {
  display: flex;
  flex-direction: column;
  max-width: 408px;
  padding: 24px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px; 
}

.feedback-form button {
  padding: 8px 16px;
  font: inherit;
  cursor: pointer;
  background-color: #4E75FF;
  width: 95px;
  border-radius: 8px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  transition: background-color 0.3s ease;
}

.feedback-form button:hover {
  background-color: #6C8CFF;
  }

input,
textarea {
  padding: 8px;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #808080;
  }

textarea {
  resize: none;
}

.feedback-form input[name="email"],
.feedback-form textarea[name="message"] {
  margin-top: 8px;
}